@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&family=Poppins:wght@400;700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,900&display=swap');



img {
    width: 30%;
    margin-left: 10px;
}

button {
    margin-bottom: 10px;
    margin-top: 30px;
    padding: 10px;
    font-family: "Poppins";
    font-size: 34px;
    color: white;
    background-color: #8a9af1;
    border: none;
    width: 25%;

}

h1 {
    font-family: "Poppins";
    font-size: 67px;
    color: #0a2ff1;
}

p {
    font-family: "Poppins";
    font-size: 34px;
    color: #0a2ff1;
    background-color: #eff2ff;
    margin-bottom: 0;
}

div {
    padding-bottom: 10px;
    border-bottom: 10px solid #3ffff3;

}

