@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

img {
    width: 100px;
    vertical-align: middle;
    margin-left: 30px;
}

p {
    font-family: "Poppins";
    font-size: 32px;
    color: #0a2ff1;
    text-align: center;
}

div {
    text-align: center;
}
